@model IEnumerable<Videoteka.Models.Pozajmica>
@{ 
   ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pozajmica</h2>
<p>
    @Html.ActionLink("Nova Pozajmica", "NovaPozajmica", "NovaPozajmica", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nemamo Filmova</p>
}
else
{
     <table id="pozajmice" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Kupac</th>
                <th>Film</th>
                <th>Datum Pozajmice</th>
                <th>Datum Vracanja</th>
                <th>Napomena</th>
                <th>Izbrisi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pozajmica in Model)
            {
                <tr>
                    <td>@pozajmica.Kupac.Ime</td>
                    <td>@pozajmica.Film.Naziv</td>
                    <td>@pozajmica.DatumPozajmice</td>
                    <td>@pozajmica.DatumVracanja</td>
                    <td>@pozajmica.Napomena</td>
                    <th>
                        <button data-pozajmica-id="@pozajmica.Id" type="button" class="btn btn-link js-delete">Delete</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
    {
        <script>
            $(document).ready(function () {
                $("#pozajmice .js-delete").on("click", function () {
                    var button = $(this);

                    bootbox.confirm("Da li zeljite da izbrisete pozajmicu?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "https://localhost:44320/api/pozajmica/" + button.attr("data-pozajmica-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            })
                        }
                    });
                    
                });
            });
        </script>
    }

