@model Videoteka.ViewModels.PozajmicaFormViewModel
@{
    ViewBag.Title = "Nova";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nova Pozajmica</h2>


@using (Html.BeginForm("Sacuvaj", "Pozajmica"))
{

    <div class="form-group">
        @Html.LabelFor(m => m.Pozajmica.KupacId)
        @Html.DropDownListFor(m => m.Pozajmica.KupacId, new SelectList(Model.Kupci, "Id", "Ime"), "Izaberite Kupca", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pozajmica.KupacId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Pozajmica.FilmId)
        @Html.DropDownListFor(m => m.Pozajmica.FilmId, new SelectList(Model.Filmovi, "Id", "Naziv"), "Izaberite Film", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pozajmica.FilmId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Pozajmica.DatumPozajmice)
        @Html.TextBoxFor(m => m.Pozajmica.DatumPozajmice, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pozajmica.DatumPozajmice)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Pozajmica.Napomena)
        @Html.TextBoxFor(m => m.Pozajmica.Napomena, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Pozajmica.Napomena)
    </div>

    @Html.HiddenFor(m => m.Pozajmica.Id)
    @*      @Html.AntiForgeryToken()      *@
    <button type="submit" class="btn btn-primary">Sačuvaj</button>

}

