@model IEnumerable<Videoteka.Models.Film>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Filmovi</h2>
<p>
    @Html.ActionLink("Novi Film", "Novi", "Film", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nemamo Filmova</p>
}
else
{
    <table id="filmovi" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Filmovi</th>
                <th>Zanr</th>
                <th>Datum Unosa</th>
                <th>Datum Izdanja</th>
                <th>Broj na Stanju</th>
                <th>Broj Dostupnih</th>
                <th>Izbrisi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var filmovi in Model)
            {
                <tr>
                    <td>@Html.ActionLink(filmovi.Naziv, "Izmjena", "Film", new { id = filmovi.Id }, null)</td>
                    <td>@filmovi.Zanr.Naziv</td>
                    <td>@filmovi.DatumUnosa</td>
                    <td>@filmovi.DatumIzdanja</td>
                    <td>@filmovi.BrojNaStanju</td>
                    <td>@filmovi.BrojDostupnih</td>
                    <th>
                        <button data-filmovi-id="@filmovi.Id" type="button" class="btn btn-link js-delete">Delete</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
    
}
@section scripts
    {
    <script>
        $(document).ready(function () {
            $("#filmovi .js-delete").on("click", function () {
                var button = $(this);

                bootbox.confirm("Da li zeljite da izbrisete film?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "https://localhost:44320/api/filmovi/" + button.attr("data-filmovi-id"),
                            method: "DELETE",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        })
                    }
                });

            });
        });
    </script>
}