@model IEnumerable<Videoteka.Models.Kupac>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kupci</h2>
<p>
    @Html.ActionLink("Novi Kupac", "Novi", "Kupac", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nemamo kupaca</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Kupci</th>
                <th>Prima Obavestenja</th>
                <th>Datum Rodjenja</th>
                <th>Tip Kupca</th>
                <th>Tip Clanstva</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kupci in Model)
            {
                <tr>
                    <td>@Html.ActionLink(kupci.Ime, "Izmjena", "Kupac", new { id = kupci.Id }, null)</td>
                    <td>@(kupci.PrimaObavjestenja ? "Da" : "Ne")</td>
                    <td>@kupci.DatumRodjenja</td>
                    <td>@kupci.TipKupca.Naziv</td>
                    <td>@kupci.TipClanstva.Naziv</td>
                </tr>
            }
        </tbody>
    </table>
}

