@model IEnumerable<Videoteka.Models.Kupac>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kupci</h2>
<p>
    @Html.ActionLink("Novi Kupac", "Novi", "Kupac", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>Nemamo kupaca</p>
}
else
{
    <table id="kupci" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Kupci</th>
                <th>Prima Obavestenja</th>
                <th>Datum Rodjenja</th>
                <th>Tip Kupca</th>
                <th>Tip Clanstva</th>
                <th>Izbrisi</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var kupci in Model)
            {
                <tr>
                    <td>@Html.ActionLink(kupci.Ime, "Izmjena", "Kupac", new { id = kupci.Id }, null)</td>
                    <td>@(kupci.PrimaObavjestenja ? "Da" : "Ne")</td>
                    <td>@kupci.DatumRodjenja</td>
                    <td>@kupci.TipKupca.Naziv</td>
                    <td>@kupci.TipClanstva.Naziv</td>
                    <th>
                        <button data-kupac-id="@kupci.Id" type="button" class="btn btn-link js-delete">Delete</button>
                    </th>
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
    {
    <script>
            $(document).ready(function () {
                $("#kupci .js-delete").on("click", function () {
                    var button = $(this);

                    bootbox.confirm("Da li zeljite da izbrisete kupca?", function (result) {
                        if (result) {
                            $.ajax({
                                url: "https://localhost:44320/api/kupci/" + button.attr("data-kupac-id"),
                                method: "DELETE",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            })
                        }
                    });

                });
            });
    </script>
}

