@model Videoteka.ViewModels.KupacFormViewModel
@{
    ViewBag.Title = "Novi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.naslov</h2>

@using (Html.BeginForm("Sacuvaj", "Kupac"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.kupac.Ime)
        @Html.TextBoxFor(m => m.kupac.Ime, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.kupac.Ime)
    </div>

    
    <div class="form-group">
        @Html.LabelFor(m => m.kupac.DatumRodjenja)
        @Html.TextBoxFor(m => m.kupac.DatumRodjenja, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    
    <div class="form-group">
        @Html.LabelFor(m => m.kupac.TipClanstvaId)
        @Html.DropDownListFor(m => m.kupac.TipClanstvaId, new SelectList(Model.tipClanstvas, "Id", "Naziv"), "Izaberite Tip Clanstva", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.kupac.TipClanstvaId)
    </div>

    
    <div class="form-group">
        @Html.LabelFor(m => m.kupac.TipKupcaId)
        @Html.DropDownListFor(m => m.kupac.TipKupcaId, new SelectList(Model.tipKupcas, "Id", "Naziv"), "Izaberite Tip Kupca", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.kupac.TipKupcaId)
    </div>

    
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.kupac.PrimaObavjestenja) Hoćete da primate obavještenja?
        </label>
    </div>
    
    @Html.HiddenFor(m => m.kupac.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Sačuvaj</button>
}

